#root {
    background-image: url("assets/bg.jpg"); 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    min-height: 100vh; 
    z-index: 0; 
}

@media (max-width: 768px) {
    #root {
        background-size: cover; 
        height: auto;            
        min-height: 100vh;      
    }
}
